<html>
  <head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <p>This site was created by Sachin. It uses data from position stack and weatherstack APIs</p>
    <img class="portrait" src="/img/SACHIN_Pic.JPG" />
    </div>
    
    {{>footer}}
  </body>
</html>